<div class="project-info-box">
    <h1 id="tableLabel">Top sold products</h1>

    <p *ngIf="!topSoldProducts"><em>Loading...</em></p>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="topSoldProducts">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>EAN</th>
          <th>Total quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of topSoldProducts">
          <td>{{ product.merchantProductNo }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.ean }}</td>
          <td>{{ product.totalQuantity }}</td>
          <td> <button (click)="openProductDetails(product.merchantProductNo)" class="btn btn-success">Set stock</button></td>
        </tr>
      </tbody>
    </table>
</div>

<app-set-product-stock-modal *ngIf="isSetStockModalVisible" (onNewStockSetted)="setNewStock($event)"></app-set-product-stock-modal>
